@import 'normalize'

html, body
  height: 100%

body
  font-size: 125%

$standardPadding: 1rem

body > main
  min-height: 100%
  width: 100%
  display: flex
  flex-flow: column

header
  border-bottom: 1px solid black
  background: white
  box-sizing: border-box
  width: 100%
  margin: 0
  a
    display: inline-block
    padding: 1rem
    &:first-child
      font-weight: bold
  select, button, input
    margin: 0
  form
    display: inline-block
    padding: $standardPadding
  .saveDraftForm
    float: right
  .peers
    user-select: none
    display: inline-block

button, a.button
  display: inline-block
  background: white
  border-radius: 0.5rem
  border: 1px solid black
  color: black
  cursor: pointer
  margin-top: 1rem
  padding: 0.25rem
  text-decoration: none
  word-wrap: break-word
  &:hover
    text-decoration: none

p button, p a.button
  padding: 0

input
  padding: 0.5rem

button + button, a.button + a.button, button + a.button, a.button + button
  margin-left: 1rem

section
  padding: $standardPadding

.editor
  box-sizing: border-box
  border: none
  width: 100%
  padding: 1rem
  flex-direction: column
  flex: 1

.intro *
  margin: 0 0.5rem
  &:first-child
    margin-left: 0
  &:last-child
    margin-right: 0

.draftText
  border: 1px solid black
  margin: 1rem 0
  padding: 1rem
  white-space: pre-wrap
  del
    background: rgb(250,150,150)
  ins
    background: rgb(150,250,150)
  p
    margin: 0

textarea
  display: block
  outline: none
  width: 100%

.notesList, .notesList ol
  list-style-type: none
  margin: 0
  padding: 0
  blockquote
    margin: 1rem 0

.notesList ol
  margin-left: 2 * $standardPadding

.note, .noteForm
  position: relative
  border: 1px solid black
  background: #fffcd3
  margin: 1rem 0
  padding: 1rem

  blockquote
    margin: 1rem 0

  .byline, blockquote + button
    margin-top: 0

.note blockquote *
  max-width: 50%
  max-height: 10%

table
  empty-cells: show

.graph
  border-spacing: 1ex
  border-collapse: separate

  .draftCell
    border: 1px solid black
    border-radius: 1ex
    padding: 1ex
    .draftCheckBox
      display: inline-block
      clear: both
      width: 100%
    .button
      display: block
  .selected
    background-color: rgb(200, 200, 250)

.refresh
  background: #feffdd
  cursor: pointer
  left: 0
  padding: 1em
  position: fixed
  text-align: center
  top: 0
  width: 100%
  z-index: 5

.marks
  list-style-type: none
  padding: 0
  margin: 0

.activity
  list-style-type: none
  padding: 0

a
  text-decoration: none
  &[href]:hover
    text-decoration: underline

.commentHere
  position: absolute

.renderedText
  p
    margin-top: 1rem

.noteForm
  user-select: none

svg
  margin-right: 0.5ex

.graph
  margin: 0
  padding: 0
