@import 'normalize'

body
  padding: 1rem
  font-size: 150%

body > main
  width: 100%

header
  width: 100%
  padding-bottom: 1rem
  a
    margin-left: 1rem
    display: inline-block
    &:first-child
      font-weight: bold
      margin-left: 0
  button
    margin-left: 1rem

button, a.button
  display: inline-block
  background: white
  border-radius: 0.5rem
  border: 1px solid black
  color: black
  cursor: pointer
  margin-top: 1rem
  padding: 0.5rem
  text-decoration: none

button + button, a.button + a.button, button + a.button, a.button + button
  margin-left: 1rem

section
  padding: 1rem 0

.editor
  display: block
  width: 100%

.intro *
  margin: 0 0.5rem
  &:first-child
    margin-left: 0
  &:last-child
    margin-right: 0

.draftText
  border: 1px solid black
  margin: 1rem 0
  padding: 1rem
  del
    background: rgb(250,150,150)
  ins
    background: rgb(150,250,150)
  p
    margin: 0

textarea
  display: block
  outline: none
  width: 100%

.notesList, .notesList ol
  list-style-type: none
  margin: 0
  padding: 0
  li
    padding: 1rem
    border: 1px solid black
    margin: 1rem 0
  blockquote
    margin: 1rem 0

table
  empty-cells: show

.graph
  border-spacing: 1ex
  border-collapse: separate

  .draft
    border: 1px solid black
    border-radius: 1ex
    padding: 1ex

.refresh
  background: #feffdd
  cursor: pointer
  left: 0
  padding: 1em
  position: fixed
  text-align: center
  top: 0
  width: 100%

.markName
  &:before
    content: '“'
  &:after
    content: '”'

.marks
  list-style-type: none
  padding: 0
  margin: 0
