@import 'normalize'

body
  padding: 1rem

body > header, body > main
  width: 100%

section
  padding: 1rem 0

.editor
  display: block
  width: 100%

.introduction *
  margin: 0 0.5rem
  &:first-child
    margin-left: 0
  &:last-child
    margin-right: 0

.draftText
  border: 1px solid black
  margin: 1rem 0
  padding: 1rem
